@import url(../../card/css/card.css);

.filters {
  position: relative;
  padding: 0.94em 0;
  display: flex;
  justify-content: space-between;
}

.filters__icon--fbt {
  background-image: url(../../../media/svg/search.svg);
}

.textinput--narrower {
  width: 14.69em;
}

.filters__content {
  position: absolute;
  z-index: 1;
  padding: 0 1.25em;
  margin: 2.94em 0;
  width: 100%;
  border-radius: 0.94em;
  background-color: var(--default-white);
  box-shadow: 0 0.13em 0.25em 0 rgba(0, 0, 0, 0.5);
}

.filters__field-wrapper {
  padding: 1.25em 0;
  border-bottom: 0.03em solid var(--theme-seconday-color);
}

.filters .filters__field-wrapper:last-child {
  border-bottom: unset;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
}

.main__card {
  margin-bottom: 1.69em;
  width: 27.5em;
}

.main__card--slider {
  width: 27.5em;
  height: 18.34em;
  background-color: white;
}
