.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: #2A8676;
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer__copyright {
  color: #FFFFFF;
}
