.login__icon--username {
  background-image: url(../../../media/svg/login-inactive.svg);
}

.login__icon--username:invalid {
  background-image: url(../../../media/svg/login-invalid.svg);
}

.login__icon--password {
  background-image: url(../../../media/svg/password-inactive.svg);
}

.login__icon--password:invalid {
  background-image: url(../../../media/svg/password-invalid.svg);
}
