.footer {
  /* position: absolute; */
  /* bottom: 0; */
  /* height: 45px; */
  flex: 0 0 45px;
  width: 100%;
  border: 0 solid var(--border-common);
  background-color: var(--theme-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__company-info {
  color: var(--default-white);
}
