@import url(./reset.css);
@import url(./font.css);
@import url(./palette.css);
@import url(./link.css);
@import url(../../button/css/button.css);
@import url(../../header/css/header.css);
@import url(../../footer/css/footer.css);

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  background-image: url(../../../media/main/bg.jpg);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.main__content {
  padding: 0 1.25em;
  max-width: 30em;
  flex: 1 1 auto;
  background-color: rgba(var(--default-rgba-black), 0.35);
}

.element--close {
  display: none;
}

/*

@media (min-width: 1000px) {
  .main__content {
    max-width: 1200px;
  }
} */
