:root {
  --default-white: #FFFFFF;
  --default-black: #000000;
  --default-rgba-black: 0, 0, 0;
  --theme-main-color: #2A8676;
  --theme-main-color-shade: #449587;
  --theme-main-color-rgba-shadow: 92, 186, 150;
  --theme-seconday-color: #288575;
  --button-primary: #1B745F;
  --button-primary-active: #2BBCC2;
  --button-secondary: #777777;
  --button-secondary-active: #B1B1B1;
  --border-main: #3FC5CB;
  --border-error: #FF0000;
  --border-focus: #9CC3BC;
  --border-common: #979797;
  --border-light: #D6D6D6;
  --review-yellow: #FFCC00;
}
