.select {
  margin: 0.25em 0;
  padding: 0 1em;
  height: 2.19em;
  width: 100%;
  border-radius: 0.31em;
}

.select__arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-position: right 1.19em center;
  background-repeat: no-repeat;
  background-size: 1.88em;
}

.select__arrow--green {
  background-image: url(../../../media/svg/down--green.svg);
}

.select__arrow--white {
  background-image: url(../../../media/svg/down--white.svg);
}

.select--green {
  color: var(--default-white);
  background-color: var(--theme-seconday-color);
}

.select--green:focus {
  outline: 0.13em solid var(--default-white);
}

.select--white {
  color: var(--default-black);
  background-color: var(--default-white);
}

.select--white:focus {
  outline: 0.13em solid var(--border-focus);
}
