<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Product Admin</title>
  <link rel="stylesheet" href="../../common/css/common.css">
  <link rel="stylesheet" href="../../modal/css/modal.css">
  <link rel="stylesheet" href="../../pdp/css/pdp.css">
  <link rel="stylesheet" href="../../common/css/mediaquery.css">
</head>

<body>
  <div class="wrapper">

    <header class="header">
      <div class="header__content">
        <div class="header__logo">
        </div>
        <div class="header__login">
          <p class="h4 header__login-status header__login-status--logged">Hello, <span class="h--italic">John_Doe</span>
          </p>
        </div>
      </div>
    </header>

    <div class="main">
      <div class="main__content">
        <nav class="h3 h--bold navigation">
          <p class="navigation__back">Back</p>
          <p class="navigation__category"><span class="h--lighter">Category: </span>Man / Active wear</p>
        </nav>

        <div class="pdp__card">
          <article class="card">
            <figure class="card__figure">
              <img class="figure__image" src="../../../media/products/1.jpg" />
              <figcaption class="figure__caption">
                <ul class="caption__vote">
                  <li class="vote vote--full"></li>
                  <li class="vote vote--full"></li>
                  <li class="vote vote--full"></li>
                  <li class="vote vote--empty"></li>
                  <li class="vote vote--empty"></li>
                </ul>
              </figcaption>
            </figure>
            <section class="card__info">
              <div class="card__info-group">
                <h2 class="h2 h--bold card__info-title">Active Coat Lorem Ipsum Dolor Sit Amet Consectetur
                  Adipisicing Elit.3</h2>
                <p class="h3 card__info-desc">Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit. Adipisci aperiam, libero aliquid architecto ad quis maiores sit nulla officiis ex
                  velit sapiente autem fugit quam, qui reprehenderit veniam fugiat nemo exercitationem cum minus ipsa
                  consequuntur. Pariatur totam suscipit, voluptatibus laudantium.</p>
              </div>
              <div class="card__cta">
                <p class="h1 h--bold  card__info-price">47.95 <span
                    class="h--lighter h--smaller card__info-price--extra">(9
                    items left)</span></p>
                <button class="button button--primary button--regular"
                  onclick="return toggleDisplay('modal__buy');"><span class="h5">Buy</span></button>
              </div>
            </section>
          </article>
        </div>

      </div>
    </div>

    <footer class="footer">
      <p class="h4 footer__company-info">Copyright "<span class="footer__company-info--quoted">Demo Shop</span>", 2017
      </p>
    </footer>
  </div>
  <div class="modal element--close" id="modal__buy">
    <div class="modal__header">
      <h2 class="h2--bigger h--bold h--caption modal__title--elipsis">Thank you!</h2>
    </div>
    <div class="modal__body">
      <div class="modal__main">
        <p class="h1 h--caption h--center">You successfully purchased this item.</p>
      </div>
      <div class="modal__cta">
        <button class="button button--primary button--big" onclick="return toggleDisplay('modal__buy')">Continue
          shopping</button>
      </div>
    </div>
  </div>
  <div class="modal-overlay element--close" id="modal-overlay"></div>
  <script src="../../modal/js/modal.js"></script>
</body>

</html>
