<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Main</title>
  <link rel="stylesheet" href="./components/common.css">
  <link rel="stylesheet" href="./components/form.css">
  <link rel="stylesheet" href="./components/main.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__content">
        <div class="header__logo">
        </div>
        <div class="header__login">
          <p class="header__login--logged">Hello, <span class="header__login--logged-user">John Doe</span></p>
        </div>
      </div>
    </header>
    <div class="main">
      <div class="main__content">

        <section class="filters">
          <button id="button__filters--toogle" class="button button--primary button--regular"
            onclick="toogleFilters();">Filter options</button>
          <input class="input-text" type="text" name="filterbytext" id="filterbytext" form="filters__form_id"
            placeholder="Filter by text...">
          <div id="filters__content-id" class="filters__content">
            <form id="filters__form_id" class="filters__form" action="">
              <div class="filters__form-field">
                <p>Availability:</p>
                <input class="tgl tgl-light" type="checkbox" name="availability" id="availability">
                <label class="tgl-btn" for="availability"></label>
              </div>
              <div class="filters__form-field">
                <p>Gender:</p>
                <input class="radio" type="radio" name="gender" id="gender_man">
                <label class="radio__label" for="gender_man">Man</label>
                <input class="radio" type="radio" name="gender" id="gender_woman">
                <label class="radio__label" for="gender_woman">Woman</label>
                <input class="radio" type="radio" name="gender" id="gender_unisex">
                <label class="radio__label" for="gender_unisex">Unisex</label>
              </div>
              <div class="filters__form-field">
                <p><label class="" for="category">Category:</label></p>
                <select class="select select--green" name="category" id="category">
                  <option value="">Active wear</option>
                  <option value="">Other</option>
                </select>
              </div>
              <div class="filters__form-field">
                <p>Price Range</p>
                <section class="range-slider">
                  <input value="500" min="500" max="50000" step="500" type="range">
                  <input value="50000" min="500" max="50000" step="500" type="range">
                </section>
              </div>
              <div class="filters__form-field filters__form-field--noborder">
                <input type="range" name="price" id="price">
                <label class="checkbox__label" for="price">Price:</label>
              </div>
            </form>
          </div>
        </section>

        <div class="cards">
          <article class="card">
            <figure class="card__figure">
              <img class="figure__image" src="./media/products/1.jpg" />
              <figcaption class="figure__caption">
                <ul class="caption__vote">
                  <li class="vote vote--full"></li>
                  <li class="vote vote--full"></li>
                  <li class="vote vote--full"></li>
                  <li class="vote vote--empty"></li>
                  <li class="vote vote--empty"></li>
                </ul>
              </figcaption>
            </figure>
            <section class="card__info">
              <div class="card__info--margin">
                <h2 class="card__info-title">Active Coat
                  Lorem 1</h2>
                <p class="card__info-desc">Lorem ipsum dolor
                  sit amet, consectetur adipisicing elit.
                  Adipisci aperiam, libero aliquid
                  architecto ad quis sit nulla officiis ex
                  velit sapiente autem fugit , qui
                  reprehenderit veniam.
                </p>
                <p class="card__info-price">47.95</p>
                <button class="button button--primary button--regular
                                        card__info-button">Show
                  more</button>
              </div>
            </section>
          </article>
          <article class="card">
            <figure class="card__figure">
              <img class="figure__image" src="./media/products/1.jpg" />
              <figcaption class="figure__caption">
                <ul class="caption__vote">
                  <li class="vote vote--full"></li>
                  <li class="vote vote--full"></li>
                  <li class="vote vote--full"></li>
                  <li class="vote vote--empty"></li>
                  <li class="vote vote--empty"></li>
                </ul>
              </figcaption>
            </figure>
            <section class="card__info">
              <div class="card__info--margin">
                <h2 class="card__info-title">Active Coat
                  Lorem 1</h2>
                <p class="card__info-desc">Lorem ipsum dolor
                  sit amet, consectetur adipisicing elit.
                  Adipisci aperiam, libero aliquid
                  architecto ad quis sit nulla officiis ex
                  velit sapiente autem fugit , qui
                  reprehenderit veniam.
                </p>
                <p class="card__info-price">47.95</p>
                <button class="button button--primary button--regular
                                        card__info-button">Show
                  more</button>
              </div>
            </section>
          </article>
          <article class="card">
            <figure class="card__figure">
              <img class="figure__image" src="./media/products/1.jpg" />
              <figcaption class="figure__caption">
                <ul class="caption__vote">
                  <li class="vote vote--full"></li>
                  <li class="vote vote--full"></li>
                  <li class="vote vote--full"></li>
                  <li class="vote vote--empty"></li>
                  <li class="vote vote--empty"></li>
                </ul>
              </figcaption>
            </figure>
            <section class="card__info">
              <div class="card__info--margin">
                <h2 class="card__info-title">Active Coat
                  Lorem 1</h2>
                <p class="card__info-desc">Lorem ipsum dolor
                  sit amet, consectetur adipisicing elit.
                  Adipisci aperiam, libero aliquid
                  architecto ad quis sit nulla officiis ex
                  velit sapiente autem fugit , qui
                  reprehenderit veniam.
                </p>
                <p class="card__info-price">47.95</p>
                <button class="button button--primary button--regular
                                        card__info-button">Show
                  more</button>
              </div>
            </section>
          </article>
          <article class="card">
            <figure class="card__figure">
              <img class="figure__image" src="./media/products/1.jpg" />
              <figcaption class="figure__caption">
                <ul class="caption__vote">
                  <li class="vote vote--full"></li>
                  <li class="vote vote--full"></li>
                  <li class="vote vote--full"></li>
                  <li class="vote vote--empty"></li>
                  <li class="vote vote--empty"></li>
                </ul>
              </figcaption>
            </figure>
            <section class="card__info">
              <div class="card__info--margin">
                <h2 class="card__info-title">Active Coat
                  Lorem 1</h2>
                <p class="card__info-desc">Lorem ipsum dolor
                  sit amet, consectetur adipisicing elit.
                  Adipisci aperiam, libero aliquid
                  architecto ad quis sit nulla officiis ex
                  velit sapiente autem fugit , qui
                  reprehenderit veniam.
                </p>
                <p class="card__info-price">47.95</p>
                <button class="button button--primary button--regular
                                        card__info-button">Show
                  more</button>
              </div>
            </section>
          </article>
          <article class="card">
            <figure class="card__figure">
              <img class="figure__image" src="./media/products/1.jpg" />
              <figcaption class="figure__caption">
                <ul class="caption__vote">
                  <li class="vote vote--full"></li>
                  <li class="vote vote--full"></li>
                  <li class="vote vote--full"></li>
                  <li class="vote vote--empty"></li>
                  <li class="vote vote--empty"></li>
                </ul>
              </figcaption>
            </figure>
            <section class="card__info">
              <div class="card__info--margin">
                <h2 class="card__info-title">Active Coat
                  Lorem 1</h2>
                <p class="card__info-desc">Lorem ipsum dolor
                  sit amet, consectetur adipisicing elit.
                  Adipisci aperiam, libero aliquid
                  architecto ad quis sit nulla officiis ex
                  velit sapiente autem fugit , qui
                  reprehenderit veniam.
                </p>
                <p class="card__info-price">47.95</p>
                <button class="button button--primary button--regular
                                        card__info-button">Show
                  more</button>
              </div>
            </section>
          </article>
        </div>
      </div>
    </div>
    <footer class="footer">
      <p class="footer__company-info">Copyright <span class="footer__company-info--quoted">"Demo Shop"</span>,
        2017 </p>
    </footer>
  </div>
  <script src="./components/range/range.js"></script>
  <script src="./components/main.js"></script>
</body>

</html>
