<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Main</title>
  <link rel="stylesheet" href="../../common/css/common.css">
  <link rel="stylesheet" href="../../form/css/form.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../../common/css/mediaquery.css">
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__content">
        <div class="header__logo">
        </div>
        <div class="header__login">
          <p class="h4 header__login-status header__login-status--logged">Hello, <span class="h--italic">John_Doe</span>
          </p>
        </div>
      </div>
    </header>
    <div class="main">
      <div class="main__content">

        <section class="filters">
          <button id="button__filters--toogle" class="h5 button button--primary button--regular"
            onclick="return toggleDisplay('filters__content-id');">Filter options</button>
          <input class="h5 textinput textinput-icon filters__icon--fbt textinput--narrower" type="text"
            name="filterbytext" id="filterbytext" form="filters__form_id" placeholder="Filter by text...">
          <div id="filters__content-id" class="filters__content element--close">
            <form id="filters__form_id" class="form form__filters" action="">
              <div class="filters__field-wrapper">
                <p class="h3">Availability:</p>
                <input class="h5 tgl tgl-light" type="checkbox" name="availability" id="availability">
                <label class="h5 tgl-btn" for="availability"></label>
              </div>
              <div class="filters__field-wrapper">
                <p class="h3">Gender:</p>
                <div class="radio__wrapper">
                  <input class="radio" type="radio" name="gender" id="gender_man">
                  <label class="h5 radio__label" for="gender_man">Man</label>
                  <input class="radio" type="radio" name="gender" id="gender_woman">
                  <label class="h5 radio__label" for="gender_woman">Woman</label>
                  <input class="radio" type="radio" name="gender" id="gender_unisex">
                  <label class="h5 radio__label" for="gender_unisex">Unisex</label>
                </div>
              </div>
              <div class="filters__field-wrapper">
                <p><label class="h3" for="category">Category:</label></p>
                <select class="h5 select select__arrow select__arrow--white select--green" name="category"
                  id="category">
                  <option value="">Active wear</option>
                  <option value="">Other</option>
                </select>
              </div>
              <!-- <div class="filters__form-field">
                <p>Price Range</p>
                <section class="range-slider">
                  <input value="500" min="500" max="50000" step="500" type="range">
                  <input value="50000" min="500" max="50000" step="500" type="range">
                </section>
              </div> -->
              <!-- <div class="filters__form-field filters__form-field--noborder">
                <input type="range" name="price" id="price">
                <label class="checkbox__label" for="price">Price:</label>
              </div> -->
            </form>
          </div>
        </section>

        <div class="cards">
          <div class="main__card">
            <article class="card">
              <figure class="card__figure">
                <img class="figure__image" src="../../../media/products/1.jpg" />
                <figcaption class="figure__caption">
                  <ul class="caption__vote">
                    <li class="vote vote--full"></li>
                    <li class="vote vote--full"></li>
                    <li class="vote vote--full"></li>
                    <li class="vote vote--empty"></li>
                    <li class="vote vote--empty"></li>
                  </ul>
                </figcaption>
              </figure>
              <section class="card__info">
                <div class="card__info-group">
                  <h2 class="h2 h--bold card__info-title">Active Coat Lorem Ipsum Dolor Sit Amet Consectetur
                    Adipisicing Elit.3</h2>
                  <p class="h5 card__info-desc">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Adipisci aperiam, libero aliquid architecto ad quis maiores sit nulla officiis ex
                    velit sapiente autem fugit quam, qui reprehenderit veniam fugiat nemo exercitationem cum minus ipsa
                    consequuntur. Pariatur totam suscipit, voluptatibus laudantium.</p>
                </div>
                <div class="card__cta">
                  <p class="h1 h--bold  card__info-price">47.95</p>
                  <button class="button button--primary button--regular"><span class="h5">Show More</span></button>
                </div>
              </section>
            </article>
          </div>
          <div class="main__card">
            <article class="card">
              <figure class="card__figure">
                <img class="figure__image" src="../../../media/products/1.jpg" />
                <figcaption class="figure__caption">
                  <ul class="caption__vote">
                    <li class="vote vote--full"></li>
                    <li class="vote vote--full"></li>
                    <li class="vote vote--full"></li>
                    <li class="vote vote--empty"></li>
                    <li class="vote vote--empty"></li>
                  </ul>
                </figcaption>
              </figure>
              <section class="card__info">
                <div class="card__info-group">
                  <h2 class="h2 h--bold card__info-title">Active Coat Lorem Ipsum Dolor Sit Amet Consectetur
                    Adipisicing Elit.3</h2>
                  <p class="h5 card__info-desc">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Adipisci aperiam, libero aliquid architecto ad quis maiores sit nulla officiis ex
                    velit sapiente autem fugit quam, qui reprehenderit veniam fugiat nemo exercitationem cum minus ipsa
                    consequuntur. Pariatur totam suscipit, voluptatibus laudantium.</p>
                </div>
                <div class="card__cta">
                  <p class="h1 h--bold  card__info-price">47.95</p>
                  <button class="button button--primary button--regular"><span class="h5">Show More</span></button>
                </div>
              </section>
            </article>
          </div>
          <div class="main__card">
            <article class="card">
              <figure class="card__figure">
                <img class="figure__image" src="../../../media/products/1.jpg" />
                <figcaption class="figure__caption">
                  <ul class="caption__vote">
                    <li class="vote vote--full"></li>
                    <li class="vote vote--full"></li>
                    <li class="vote vote--full"></li>
                    <li class="vote vote--empty"></li>
                    <li class="vote vote--empty"></li>
                  </ul>
                </figcaption>
              </figure>
              <section class="card__info">
                <div class="card__info-group">
                  <h2 class="h2 h--bold card__info-title">Active Coat Lorem Ipsum Dolor Sit Amet Consectetur
                    Adipisicing Elit.3</h2>
                  <p class="h5 card__info-desc">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Adipisci aperiam, libero aliquid architecto ad quis maiores sit nulla officiis ex
                    velit sapiente autem fugit quam, qui reprehenderit veniam fugiat nemo exercitationem cum minus ipsa
                    consequuntur. Pariatur totam suscipit, voluptatibus laudantium.</p>
                </div>
                <div class="card__cta">
                  <p class="h1 h--bold  card__info-price">47.95</p>
                  <button class="button button--primary button--regular"><span class="h5">Show More</span></button>
                </div>
              </section>
            </article>
          </div>
          <div class="main__card">
            <article class="card">
              <figure class="card__figure">
                <img class="figure__image" src="../../../media/products/1.jpg" />
                <figcaption class="figure__caption">
                  <ul class="caption__vote">
                    <li class="vote vote--full"></li>
                    <li class="vote vote--full"></li>
                    <li class="vote vote--full"></li>
                    <li class="vote vote--empty"></li>
                    <li class="vote vote--empty"></li>
                  </ul>
                </figcaption>
              </figure>
              <section class="card__info">
                <div class="card__info-group">
                  <h2 class="h2 h--bold card__info-title">Active Coat Lorem Ipsum Dolor Sit Amet Consectetur
                    Adipisicing Elit.3</h2>
                  <p class="h5 card__info-desc">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Adipisci aperiam, libero aliquid architecto ad quis maiores sit nulla officiis ex
                    velit sapiente autem fugit quam, qui reprehenderit veniam fugiat nemo exercitationem cum minus ipsa
                    consequuntur. Pariatur totam suscipit, voluptatibus laudantium.</p>
                </div>
                <div class="card__cta">
                  <p class="h1 h--bold  card__info-price">47.95</p>
                  <button class="button button--primary button--regular"><span class="h5">Show More</span></button>
                </div>
              </section>
            </article>
          </div>
          <div class="main__card">
            <article class="card">
              <figure class="card__figure">
                <img class="figure__image" src="../../../media/products/1.jpg" />
                <figcaption class="figure__caption">
                  <ul class="caption__vote">
                    <li class="vote vote--full"></li>
                    <li class="vote vote--full"></li>
                    <li class="vote vote--full"></li>
                    <li class="vote vote--empty"></li>
                    <li class="vote vote--empty"></li>
                  </ul>
                </figcaption>
              </figure>
              <section class="card__info">
                <div class="card__info-group">
                  <h2 class="h2 h--bold card__info-title">Active Coat Lorem Ipsum Dolor Sit Amet Consectetur
                    Adipisicing Elit.3</h2>
                  <p class="h5 card__info-desc">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Adipisci aperiam, libero aliquid architecto ad quis maiores sit nulla officiis ex
                    velit sapiente autem fugit quam, qui reprehenderit veniam fugiat nemo exercitationem cum minus ipsa
                    consequuntur. Pariatur totam suscipit, voluptatibus laudantium.</p>
                </div>
                <div class="card__cta">
                  <p class="h1 h--bold  card__info-price">47.95</p>
                  <button class="button button--primary button--regular"><span class="h5">Show More</span></button>
                </div>
              </section>
            </article>
          </div>
          <div class="main__card">
            <article class="card">
              <figure class="card__figure">
                <img class="figure__image" src="../../../media/products/1.jpg" />
                <figcaption class="figure__caption">
                  <ul class="caption__vote">
                    <li class="vote vote--full"></li>
                    <li class="vote vote--full"></li>
                    <li class="vote vote--full"></li>
                    <li class="vote vote--empty"></li>
                    <li class="vote vote--empty"></li>
                  </ul>
                </figcaption>
              </figure>
              <section class="card__info">
                <div class="card__info-group">
                  <h2 class="h2 h--bold card__info-title">Active Coat Lorem Ipsum Dolor Sit Amet Consectetur
                    Adipisicing Elit.3</h2>
                  <p class="h5 card__info-desc">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Adipisci aperiam, libero aliquid architecto ad quis maiores sit nulla officiis ex
                    velit sapiente autem fugit quam, qui reprehenderit veniam fugiat nemo exercitationem cum minus ipsa
                    consequuntur. Pariatur totam suscipit, voluptatibus laudantium.</p>
                </div>
                <div class="card__cta">
                  <p class="h1 h--bold  card__info-price">47.95</p>
                  <button class="button button--primary button--regular"><span class="h5">Show More</span></button>
                </div>
              </section>
            </article>
          </div>
          <div class="main__card">
            <article class="card">
              <figure class="card__figure">
                <img class="figure__image" src="../../../media/products/1.jpg" />
                <figcaption class="figure__caption">
                  <ul class="caption__vote">
                    <li class="vote vote--full"></li>
                    <li class="vote vote--full"></li>
                    <li class="vote vote--full"></li>
                    <li class="vote vote--empty"></li>
                    <li class="vote vote--empty"></li>
                  </ul>
                </figcaption>
              </figure>
              <section class="card__info">
                <div class="card__info-group">
                  <h2 class="h2 h--bold card__info-title">Active Coat Lorem Ipsum Dolor Sit Amet Consectetur
                    Adipisicing Elit.3</h2>
                  <p class="h5 card__info-desc">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Adipisci aperiam, libero aliquid architecto ad quis maiores sit nulla officiis ex
                    velit sapiente autem fugit quam, qui reprehenderit veniam fugiat nemo exercitationem cum minus ipsa
                    consequuntur. Pariatur totam suscipit, voluptatibus laudantium.</p>
                </div>
                <div class="card__cta">
                  <p class="h1 h--bold  card__info-price">47.95</p>
                  <button class="button button--primary button--regular"><span class="h5">Show More</span></button>
                </div>
              </section>
            </article>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <p class="h4 footer__company-info">Copyright "<span class="footer__company-info--quoted">Demo Shop</span>",
        2017 </p>
    </footer>
  </div>
  <script src="../../range/js/range.js"></script>
  <script src="../js/main.js"></script>
  <script src="../../modal/js/modal.js"></script>
</body>

</html>
