<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Common</title>
  <link rel="stylesheet" href="../css/common.css">
</head>

<body>
  <div class="wrapper">

    <header class="header">
      <div class="header__content">
        <div class="header__logo">
        </div>
        <div class="header__login">
          <p class="h4 header__login-status header__login-status--logged">Hello, <span class="h--italic">John_Doe</span></p>
        </div>
      </div>
    </header>

    <div class="main">
      <div class="main__content">

      </div>
    </div>

    <footer class="footer">
      <p class="h4 footer__company-info">Copyright "<span class="footer__company-info--quoted">Demo Shop</span>", 2017
      </p>
    </footer>
  </div>
</body>

</html>
