.header {
  border: 0 solid var(--border-common);
  width: 100%;
  background: linear-gradient(180deg, var(--theme-main-color-shade) 0%, var(--theme-main-color) 100%);
  box-shadow: 0 0.19em 0 0 rgba(var(--theme-main-color-rgba-shadow), 0.5);
  flex: 0 0 2.81em;
  display: flex;
}

.header__content {
  flex: 1;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo::after {
  padding-left: 1.5em;
  content: url(../../../media/svg/logo.svg);
  height: 1.5em;
  width: 1.5em;
}

.header__login {
  padding-right: 1.25em;
}

.header__login-status {
  color: var(--default-white);
}

.header__login-status::after {
  display: inline-block;
  padding-left: 0.5em;
  height: 1em;
  width: 1em;
}

.header__login-status--notlogged::after {
  content: url(../../../media/svg/header-logout.svg);
}

.header__login-status--logged::after {
  content: url(../../../media/svg/header-logout.svg);
}
