.navigation {
  /* margin: 0 31px; */
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__back {
  color: var(--default-white);
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.navigation__category {
  color: var(--default-white);
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.navigation__category--std {
  font-weight: normal;
}

.card {
  margin: auto;
  max-width: 440px;
  background-image: url(../media/products/modal-bg.png);
  background-repeat: repeat;
}

@media (min-width: 800px) {
  .card {
    max-width: 1140px;
  }
}

.card__display {
  padding: 20px;
  width: 100%;
}

@media (min-width: 800px) {
  .card__display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.card__figure {
  width: 100%;
}

@media (min-width: 800px) {
  .card__figure {
    width: calc(50% - 20px);
  }
}

.figure__image {
  display: block;
  width: 100%;
}

.figure__caption {
  position: relative;
  margin-top: -30px;
  width: 100%;
  height: 30px;
  background-color: rgba(var(--default-rgba-black), 0.75);
}

.caption__vote {
  height: 100%;
  margin: 0 21.35px;
  display: flex;
  align-items: center;
}

.vote {
  display: inline-block;
  height: 16.46px;
  width: 17.31px;
  margin: 0 1.8px;
}

.vote--full::after {
  content: url(../media/svg/star-active.svg);
}

.vote--empty::after {
  content: url(../media/svg/star-inactive.svg);
}

.card__info {
  padding-top: 1em;
  width: 100%;
  color: var(--default-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 800px) {
  .card__info {
    padding-top: unset;
    width: 50%;
  }
}

.card__info-title {
  /* font-size: 24px;
  font-weight: bold;
  line-height: 32px; */
  padding-bottom: 0.5em;
  border-bottom: 0.111em solid var(--border-main);
  margin-bottom: 0.5em;
}

/* .card__info-desc {
  font-size: 16px;
  line-height: 20px;
} */

.card__cta {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border-light);
  padding-top: 0.78125em;
  margin-top: 0.78125em;
}

.card__info-price {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}

.card__info-price::before {
  content: '$';
  color: var(--theme-seconday-color);
}

.card__info-price--extra {
  font-weight: 400;
  font-size: 1.125rem;
}
