.review__add {
  text-align: center;
  color: white;
  margin: 1.5em 0;
}

.review__add span {
  display: block;
}

.review__add span a {
  color: var(--review-yellow);
}

.review__preview {
  color: var(--default-white);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
}

.review__preview-username {
  margin-bottom: 1em;
}

.review__preview-username span:nth-child(1) {
  color: var(--review-yellow);
}

.row {
  display: flex;
  align-items: start;
}

.review__preview-image {
  object-fit: contain;
  color: var(--review-yellow);
  width: 4.94em;
  flex-basis: 4.94em;
}

.review__preview-yourreview {
  padding-left: 1em;
  opacity: 0.5;
  word-break: break-word;
}

.review__form {
  position: relative;
  width: 100%;
  padding: 2em;
  background: url(../../../media/products/modal-bg.png);
  background-repeat: repeat;
  border: 0.19em solid var(--border-main);
}

.review__form-title {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  height: 2.5em;
  width: 11.25em;
  border: 0.19em solid var(--border-main);
  border-radius: 0.94em;
  background-color: var(--default-white);
}

.review__form-title h2 {
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pdp__modal-textarea--review {
  height: 11.13em;
}

.pdp__modal-textarea--avatar {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.pdp__modal-textarea--avatar+label {
  height: 6.3em;
  padding: 0.69em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.pdp__modal-textarea--avatar+label span {
  opacity: 0.5;
}

.pdp__modal-textarea--avatar+label img {
  max-width: 4.81em;
  max-height: 4.81em;
  opacity: 0.5;
}

.review__list .review__preview {
  margin-top: 0.5em;
}
