.navigation {
  height: 3.56em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__back {
  color: var(--default-white);
}

.navigation__category {
  color: var(--default-white);
}

.navigation__category--std {
  font-weight: normal;
}
