@import url('../../checkbox/css/checkbox.css');
@import url('../../textinput/css/textinput.css');
@import url('../../radiobutton/css/radiobutton.css');
@import url('../../select/css/select.css');
@import url('../../range/css/range.css');
@import url('../../textarea/css/textarea.css');

.form__field {
  margin-bottom: 1.25em;
}

.form_field--image {
  margin-top: 1.25em;
}

.form {
  width: 100%;
}
